.container {
    border-left: 1px solid black;
    padding-left: 0.5rem;
}

.item {
    margin: 0.5rem;
    font-family: sans-serif;
    cursor: pointer;
}

.delete-btn {
    cursor: pointer;
}

.add-btn {
    cursor: pointer;
}